/* @import "../node_modules/bootstrap/scss/bootstrap"; this imports all of bootstrap */ 

$primary-color: #472F81;
$secondary-color: #E9C839;
$font: "Oxygen", sans-serif;

nav {
    background-color: white;
}

nav li {
    color: $primary-color;
    font-family: $font;
    font-weight: 700;
    padding: 15px;
    text-align: center;
}

nav img {
    width: 10%;
    height: 10%;
    color: $primary-color;
}

header {
    color: $primary-color;
    padding-top: 120px;
    padding-bottom: 120px;
}

header img {
    position: relative;
    width: 100%;
    height: 100%;
}

h1, h2 {
    font-family: $font;
    font-weight: 700;
}

header h1 {
    font-size: 30px;
    font-weight: 700;
    padding-top: 6%;
    text-align: center;
}

header h2 {
    font-family: $font;
    font-size: 18px;
    text-align: center;
}

header .heroTopBlock, header .heroRightBlock, header .heroLeftBlock, header .heroBottomBlock {
    display: none;
}

#work, #about, #contact {
    position: relative;
    margin-bottom: 140px;
}

#work img {
    width: 100%;
    height: 100%;
}

#work p, #work h1, #work h2 {
    font-family: $font;
    color: $primary-color;
}

#work h1 {
    position: relative;
    color: $secondary-color;
    font-size: 2.5em;
    font-weight: 700;
    bottom: 18px;
}

#work h2 {
    position: relative;
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 10px;
    top: 10px;
}

#work img {
    margin-top: 10px;
}

#work .yellowLine {
    display: none;
}

.workTopBlock {
    position: relative;
    background-color: $secondary-color;
    width: 100%;
    height: 10px;
    top: 35px;
}

.even .workTopBlock {
    background-color: $primary-color;
}

#work .workRightBlock, #work .workLeftBlock, #work .workBottomBlock {
    display: none;
}

#work .desktopButton {
    display: none;
}

#work .mobileButton button {
    position: relative;
    background-color: $primary-color;
    color: white;
    border: none;
    font-family: $font;
    font-size: 1em;
    font-weight: 700;
    padding: 10px;
    width: 100%;
    top: 20px;
}

#about {
    background-color: $secondary-color;
    padding-top: 40px;
    padding-bottom: 40px;
}

#about h1 {
    position: relative;
    color: $primary-color;
    font-size: 2em;
    font-weight: 700;
    bottom: 18px;
}

#about h2 {
    position: relative;
    color: $primary-color;
    font-size: 1.5em;
    font-weight: 700;
    padding-top: 60px;
}

#about p {
    position: relative;
    color: $primary-color;
}

.aboutTopBlock, .aboutBottomBlock {
    background-color: $primary-color;
    width: 100%;
    height: 10px;
}

.aboutRightBlock, .aboutLeftBlock {
    display: none;
}

#contact h1 {
    position: relative;
    color: $primary-color;
    font-size: 2em;
    font-weight: 700;
    bottom: 18px;
}

#contact input {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
}

#contact label {
    padding-top: 20px;
}

#contact legend {
    padding-top: 40px;
}

#contact textarea {
    width: 100%;
    padding-bottom: 100px;
}

#contact #submitButton {
    background-color: $primary-color;
    color: white;
    border: none;
    font-family: $font;
    font-size: 1em;
    font-weight: 700;
}

.end {
    background-color: $primary-color;
    padding-top: 10px;
    padding-bottom: 10px;
}

.end p {
    color: white;
    font-family: $font;
    font-weight: 400;
    padding-top: 14px;
}

.end .footerBlock {
    position: relative;
    background-color: $secondary-color;
    width: 100%;
    height: 10px;
    top: 4px;
}


/*  Work Showcase Pages  */  

.heroImg {
    position: relative;
    padding-top: 0px;
    padding-bottom: 50px;
}

.heroImg h1 {
    position: relative;
   
}

.showcase h2, .showcase p, .credits h3, .credits p, .nextProject a, .nextProject h3 {
    font-family: $font;
    color: $primary-color;
}

.showcase h2, .credits h3, .nextProject h3 {
    font-weight: 700;
}

.showcase p {
    margin-bottom: 50px;
}

.showcaseTopBlock, .showcaseBottomBlock {
    position: relative;
    width: 100%;
    height: 10px;
}

.showcaseTopBlock {
    background-color: $secondary-color;
    margin-bottom: 20px;
}

.showcaseBottomBlock {
    background-color: $primary-color;
    margin-bottom: 20px;
}

.showcase img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.credits {
    margin-top: 30px;
}

.nextProject .projectBlock {
    position: relative;
    background-color: $secondary-color;
    width: 100%;
    height: 10px;
    top: 40px;
}

.nextProject h3 {
    margin-bottom: 25px;
}

.nextProject p {
    margin-bottom: 25px;
}



@media (min-width: 768px) {
    
    header {
        margin-bottom: 50px;
    }

    header h1 {
        font-size: 2.4em;
    }
    
    header .heroTopBlock, header .heroRightBlock, header .heroLeftBlock, header .heroBottomBlock {
        display: block;
        position: relative;
    }

    header .heroTopBlock {
        background-color: $primary-color;
        width: 100%;
        height: 16px;
        bottom: 100px;
    }

    header .heroRightBlock {
        background-color: $secondary-color;
        width: 16px;
        height: 120px;
        top: 50px;
    }

    header .heroLeftBlock {
        background-color: $primary-color;
        width: 16px;
        height: 300px;
        bottom: 170px;
    }

    header .heroBottomBlock {
        background-color: $secondary-color;
        width: 100%;
        height: 16px;
        top: 180px;
    }

    #work {
        margin-bottom: 200px;
    }
    

    #work h1 {
        font-size: 3.2em;
    }

    #work h2 {
        font-size: 2.2em;
        padding-top: 50px;
    }
    
    #work .mobileButton {
        position: relative;
        display: none;
    } 

    #work .desktopButton {
        display: inline;
    }

    #work .desktopButton button {
        position: relative;
        background-color: $primary-color;
        color: white;
        border: none;
        font-family: $font;
        font-size: 1em;
        font-weight: 700;
        padding: 10px;
        width: 100%;
        top: 20px;
    }

    #work .yellowLine  {
        position: relative;
        display: block;
        background-color: $secondary-color;
        height: 16px;
        width: 100%;
        bottom: 10px;
    }

    #work span {
        position: relative;
        top: 2px;
        right: 15px;
    }
    
    .odd {
        position: relative;
    }
  
    #work .workTopBlock {
        background-color: $primary-color;
        height: 16px;
        top: 0px;
        margin-bottom: 50px;
    }

    #work .workRightBlock, #work .workLeftBlock, #work .workBottomBlock {
        display: block;
        position: relative;
    }

    #work .workRightBlock {
        background-color: $secondary-color;
        width: 16px;
        height: 120px; 
        z-index: 2;
        left: 20%;
    }

    #work .workLeftBlock {
        background-color: $primary-color;
        width: 16px;
        height: 170px; 
        right: 20%;
        top: 30px;
    }

    #work .workBottomBlock {
        background-color: $secondary-color;
        width: 100%;
        height: 16px; 
        top: 200px;
    }

    #about {
        text-align: center;
        font-weight: 400;
    }
    
    #about h1 {
        font-size: 3em;
        padding-bottom: 10px;
    }

    #about h2 {
        font-size: 2em;
        padding-bottom: 20px;
    }

    .aboutRightBlock, .aboutLeftBlock {
        position: relative;
        display: block;
        background-color: $primary-color;
    }

    .aboutTopBlock, .aboutBottomBlock {
        position: relative;
        height: 16px;
    }

    .aboutTopBlock {
        top: 50px;
    }
    
    .aboutRightBlock {
        width: 16px;
        height: 200px;
        top: 400px;
    }

    .aboutLeftBlock {
        width: 16px;
        height: 150px;
        bottom: 500px;
    }

    .aboutBottomBlock {
        top: 90px;
    }

    #contact textarea {
        padding-bottom: 185px;
    }
}



/*
    header {
        text-align: center;
        font-family: "Oxygen", sans-serif;
        font-weight: 400;
        color: $primary-color;
        height: 1440px;
    }
    
    nav img {
        float: left;
        width: 24px;
        height: 31px;
    }
    
    nav a {
        float: right;
        color: $primary-color;
    }
    
    .topHomeBlock {
        position: absolute;
        background-color: $primary-color;
        width: 100%;
        height: 16px;
        bottom: -8px;
    }
    
    .leftHomeBlock {
        position: absolute;
        background-color: $primary-color;
        width: 16px;
        height: 40vh;
        top: 8vh;
    }
    
    .rightHomeBlock {
        position: absolute;
        background-color: $secondary-color;
        width: 16px;
        height: 30vh;
        bottom: 5vh;
        left: 6vw;
    }
    
    .bottomHomeBlock {
        position: absolute;
        background-color: $secondary-color;
        width: 100%;
        height: 16px;
        top: 230px;
    }
    
    #leftText {
        position: absolute;
        top: 100px;
        height: 25vh;
        left: 50px;
        writing-mode: vertical-rl;
    }
    
    #rightText {
        position: absolute;
        bottom: 150px;
        height: 15vh;
        right: 39px;
        writing-mode: vertical-lr;
    }
    
    #bottomHomeText {
        position: absolute;
        top: 200px;
        right: 1vw;
        width: 100%;   
    }
    
    img {
        width: 100%;
        height: 100%;
    }
    
    nav {
        padding-top: 5%;
        width: 100%;
    }
    
    .hero {
        padding-top: 22%;
        padding-bottom: 22%;
        width: 100%;
        height: 88vh;
    }
    
    .hero h1 {
        font-size: 2.5em;
        font-weight: 700;
        padding-top: 5%;
    }
    
    #workOdd, #workEven, .about {
        position: relative;
        font-family: "Oxygen", sans-serif;
        font-weight: 400;
        color: $primary-color;
        padding-top: 15%;
        width: 100%;
        height: 1440px;
    }
    
    article h1, article h2 {
        font-size: 4em;
        font-weight: 700;
    }
    
    article h2 {
       font-size: 2.5em;
       padding-top: 13%; 
    }
    
    article p {
        position: absolute;
        padding-top: 4%;
        bottom: 163px;
        left: 100px;
    }
    
    footer  {
        padding-top: 25%;
    }
    
    .rule {
        position: relative;
        background-color: $secondary-color;
        padding-top: 16px;
        width: 100%;
        right: 20%;
    }
    
    button {
        position: relative;
        background-color: $primary-color;
        color: white;
        border: none;
        font-weight: 700;
        padding: 2%;
        top: 25px;
    }
    
    .topWorkBlock {
        position: absolute;
        background-color: $primary-color;
        width: 100%;
        height: 16px;
        bottom: 170px;
    }
    
    .rightWorkBlock {
        position: absolute;
        background-color: $secondary-color;
        width: 16px;
        height: 80px;
        bottom: 40px;
        left: 172px;
    }
    
    .leftWorkBlock {
        position: absolute;
        background-color: $primary-color;
        width: 16px;
        height: 100px;
        bottom: -130px;
    }
    
    .bottomWorkBlock {
        position: absolute;
        background-color: $secondary-color;
        width: 100%;
        height: 16px;
        top: 130px;
    }
    
    #workEven h1, #workEven h2, #workEven aside, #workEven footer {
        text-align: right;
    }
    
    #workEven .rule {
        left: 100%;
    }
    
    #workEven p {
        left: 320px;
    }
    
    #workEven button {
        float: right;
    }
    
    #workEven .rightWorkBlock {
        background-color: $primary-color;
        left: 0px;
    }
    
    #workEven .leftWorkBlock {
        background-color: $secondary-color;
        left: 65px;
    }
    
    .about {
        background-color: $secondary-color;
    }
    
    .about h1, .about h2, .about p {
        text-align: center;
    }
    
    .about h1 {
        position: relative;
        font-size: 4rem;
        font-weight: 700;
        padding-bottom: 6%;
        bottom: 15px;
    }
    
    .about h2 {
        position: relative;
        font-weight: 700;
        padding-top: 18%;
        padding-bottom: 2%;
    }
    
    .aboutTopBlock, .aboutLeftBlock, .aboutRightBlock, .aboutBottomBlock {
        position: absolute;
        background-color: $primary-color;
    }
    
    .aboutTopBlock {
        width: 100%;
        height: 16px;
        bottom: 180px;
    }
    
    .aboutLeftBlock {
        width: 16px;
        height: 180px;
        top: 20px;
    }
    
    .aboutRightBlock {
        width: 16px;
        height: 260px;
        top: 200px;
    }
    
    .aboutBottomBlock {
        width: 100%;
        height: 16px;
        top: 110px;
    }
    
    #aboutTopText, #aboutLeftText, #aboutRightText, #aboutBottomText {
        position: absolute;
    }
    
    #aboutTopText {
        width: 100%;
        bottom: 150px;
    }
    
    #aboutLeftText {
        writing-mode: vertical-rl;
        height: 200px;
        left: 50px;
        top: 50px;
    }
    
    #aboutRightText {
        writing-mode: vertical-lr;
        height: 300px;
        right: 100px;
        top: 300px;
    }
    
    #aboutBottomText {
        top: 85px;
        left: 30px;
    }
    */














